<html>
	<header id="top-head">
	  <div class="inner">
	      <div id="mobile-head">
	        <h1 class="logo">TABIYUZUKI</h1>
	          <div id="nav-toggle">
	          　<div>
	            　<span></span>
	            　<span></span>
	            　<span></span>
	            </div>
	          </div>
	      </div>
	      <nav id="global-nav">
	      　<ul>
	      　　<li><a href="#">HOME</a></li>
	      　　<li><a href="#">PRODUCT</a></li>
	      　　<li><a href="#">WORKS</a></li>
	      　　<li><a href="#">COMPANY</a></li>
	      　　<li><a href="#">CONTACT</a></li>
	        </ul>
	      </nav>
	  </div>
	</header>
	 <div class="a">
	  <div id="b"><%= image_tag 'IMG_5472_ORIGINAL.jpg', class: 'hoge' %></div>
	  <div id="b"><%= image_tag 'IMG_日光.jpg', class: 'hoge' %></div>
	  <div id="b"><%= image_tag '旅の写真3.jpg', class: 'hoge' %></div>
	 </div>
  <body>
   <div class="rejend">
    <div class="g">
     <%= image_tag 'IMG_8303.JPG', class: 'hoge-text' %>	
     <div class="yuzuki"><div class="">伊勢神宮</div>
    </div>
   </div>
    <div class="g">
     <%= image_tag 'IMG_5588.シンガポール.jpg', class: 'hoge-text' %>	
     <div class="yuzuki"><div class="">マーライオン</div>
     </div>
    </div>
    <div class="g">
    <%= image_tag 'IMG_5517.シンガポール.jpg', class: 'hoge-text' %>	
     <div class="yuzuki"><div class="">シンガポール</div>
     </div>
    </div>
    <div class="g">
     <%= image_tag 'IMG_8714_ORIGINAL.jpg', class: 'hoge-text' %>	
     <div class="yuzuki"><div class="">名古屋城追加</div>
    </div>
   </div>
  </body>
</html>
